.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  header {
    margin-top: 1.2rem;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 3.2rem;
      margin-left: 1rem;
      border-radius: 10px;
      background: rgba(238, 238, 238, 0.61);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }
}

.search__container {
  position: relative;
  display: flex;

  input {
    outline: none;
    border: none;
    background: transparent;
    width: 45px;
    padding: 0.5rem 1.8rem;
    transition: width 0.6s ease;
    border-bottom: 2px solid black;
    color: #eee;

    &:focus {
      width: 130px;

      &::placeholder {
        color: transparent;
      }
    }
  }

  .search__icon {
    position: absolute;
    left: 0;
    align-self: center;
    margin-left: 0.2rem;
    font-size: 1.3rem;
  }
}
